@*@model IEnumerable<CodeTalk.Models.Results>;*@
@model List<CodeTalk.Models.ApiResult>;


@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result Home</title>
</head>
<body>
    <section id="resultContain">
        <div id="tablecontainer">
            <table class="table">
                <tbody>

                    @*<tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Code)
                            </td>
                        </tr>*@
                    @foreach (var item in Model)
                    {
                        @*<tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                            </tr>*@
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.returnString)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CodeName">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.CodeName">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
