@model CodeTalk.Models.Results;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Reset.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <title>Form Home Page</title>
</head>
<body>
    <header>
        <div class="logo">Code Talk</div>
    </header>
    <a href="@Url.Action("Index", "Results")">All Code Snippets</a>
    <div id="tablecontainer">
        <table class="table">
            <tbody> 
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Code)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.baseString)
                    </td>

                    <td>
                        @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |*@
                        @*<a asp-action="Delete" asp-controller="Forms" asp-route-id="@Model.ID">Delete</a>*@
                        <a asp-route-id="@Model.ID" href="@Url.Action("Delete", "Results")">Delete</a>

                    </td>
                </tr>
                
            </tbody>
        </table>
                </div>
        <footer>
            <div class="copyright">Copyright 2019 &copy</div>
        </footer>
</body>
</html>
