@model CodeTalk.Models.Results;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Reset.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <title>Form Home Page</title>
</head>
<body>
    <div id="resultContain">
        <div id="tablecontainer">
            <h2 class="resultTitle">Results</h2>
            <table class="table">
                <tbody>
                    @*<tr>
                            <td class="text-table">
                                @Html.DisplayNameFor(model => model.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Code)
                            </td>
                        </tr>*@
                    <tr>
                        <td class="text-table">
                            @Html.DisplayFor(modelItem => Model.baseString)
                        </td>

                        <td class="table-options">
                            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>