@model CodeTalk.Models.Results;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form Home Page</title>
    <style>
        
        .resultContainer {
            background-color: #FAFAFA;
            opacity: 0.95;
            min-height: 400px;
            border: solid 20px transparent;
            border-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 30 round;
            border-radius: 5px;
        }
        .resultTitle {
            text-align: center;
            color: black;
            font-size: 3em;
            font-family: Calvier;
            text-shadow: 1px 1px 1px whitesmoke;
            margin: 3%;
        }

        .resultSentence {
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
            margin: 10%;
        }

    </style>
</head>
<body>
    <section>
        <div class="resultContainer">
            <div class="resultTitle">Your Code: </div>
            <p class="resultSentence">
             @Html.DisplayFor(modelItem => Model.returnString)
            </p>

            @*<td>
                <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                <a asp-action="Delete" asp-controller="Forms" asp-route-id="@Model.ID">Delete</a>
                <a asp-route-id="@Model.ID" href="@Url.Action("Delete", "Results")">Delete</a>
            </td>*@
        </div>
    </section>
</body>
</html>